<div class="row">
	<main class="col-md-12">



		<h1>Welcome to About Page</h1>
		<hr>
		<h3>About:</h3>
		<p><Strong>Name:</Strong> Raakesh Balaji <br> <Strong>Student #:</Strong> 124518200
			<br><strong>Porgram:</strong> Database Applicatin Developer
		</p>
		<p>I love to Code >_</p>



	</main>
</div>