<div class="row">
    <main class="col-md-12">


        <form method="POST" action="/employees/add">
            <fieldset>
                <legend>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Name:</label>
                            <input class="form-control" type="text" name="firstName" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Last Name:</label>
                            <input class="form-control" type="text" name="lastName" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email:</label>
                            <input class="form-control" type="text" name="email" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Social Security Num:</label>
                            <input class="form-control" type="text" name="SSN" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Address (Street):</label>
                            <input class="form-control" type="text" name="addressStreet" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Address (City):</label>
                        <input class="form-control" id="addressCity" type="text" name="addressCity" />
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Address (State):</label>
                            <input class="form-control" type="text" name="addressState" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Address (Zip Code):</label>
                            <input class="form-control" type="text" name="addressPostal" />
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Company Information</legend>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Manager:</label>
                            <input class="form-control" type="checkbox" name="isManager" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Employee's Manager Number:</label>
                            <input class="form-control" type="text" name="employeeManagerNum" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Status:</label><br />
                            <label class="checkbox-inline">
                                <input type="radio" value="Full Time" name="status" /> Full Time
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" value="Part Time" name="status" /> Part Time
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Department</label>
                            <select name="department" class="form-control">
                                <option value="1">Creative Services</option>
                                <option value="2">Product Development</option>
                                <option value="3">Marketing</option>
                                <option value="4">Strategic Planning</option>
                                <option value="5">Accounting</option>
                                <option value="6">Human Resources</option>
                                <option value="7">Quality Analysis</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Hire Date</label>
                            <input class="form-control" type="text" name="hireDate" />
                        </div>
                    </div>
                </div>
            </fieldset>

            <hr />

            <input type="submit" class="btn btn-primary float-right" value="Add Employee" /><br /><br /><br />
        </form>

    </main>
</div>